/SheetMusicScanner/State_Component/Logger/LoggerTest.py

/SheetMusicScanner/.idea/SheetMusicScanner.iml
/**/.idea/misc.xml
/**/__pycache__
/**/.idea/workspace.xml
/**/Logs
/SheetMusicScanner/convertedpdf.png
/SheetMusicScanner/output_midi.mid
/SheetMusicScanner/output_mxml.xml
/SheetMusicScanner/DetectionCore_Component/FullClassifier/cnn_models
/SheetMusicScanner/.idea
/.idea
/SheetMusicScanner/.idea/inspectionProfiles
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/SheetMusic_final.iml
/.idea/modules.xml
/.idea/misc.xml
/SheetMusicScanner/.idea/vcs.xml
/SheetMusicScanner/.idea/modules.xml
/SheetMusicScanner/.idea/inspectionProfiles/Project_Default.xml
